@page "/addexercise"
@using Data_Base_Access
@using Data_Base_Access.Entities
@using Data_Base_Access.Repositories.NewFolder.IGenericRepository
@using Data_Base_Access.Repositories.NewFolder.ExercisesRepository
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@attribute [StreamRendering]
@inject IGenericRepository<Exercises> exRepository
@inject IGenericRepository<ExercisesLog> exlogRepository
@inject NavigationManager NavigationManager
<body>
    <h1>AddExercise</h1>

    <EditForm Model="newExercise" OnSubmit="Submit" FormName="AddExercise">
        <div class="form-control">
            <label>
                Name:
                <InputText @bind-Value="newExercise!.Ex_Name" class="form-control" />
            </label>
        </div>
            
        <div><button type="submit" class="btn btn-primary">Add Exercise</button></div>
    </EditForm>



</body>






@code
{

    [SupplyParameterFromForm]
    public Exercises newExercise { get; set; }
    protected override void OnInitialized() => newExercise ??= new();
    private async Task Submit()
    {
        if (newExercise != null)
        {
            await exRepository.AddAsync(newExercise);

            NavigationManager.NavigateTo("/exercicespage");
        }
    }
}


