@page "/addexercise"
@using Data_Base_Access
@using Data_Base_Access.Entities
@using Data_Base_Access.Repositories.NewFolder.IGenericRepository
@using Data_Base_Access.Repositories.NewFolder.ExercisesRepository
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@attribute [StreamRendering]
@inject IGenericRepository<Exercises> exRepository
@inject IGenericRepository<ExercisesLog> exlogRepository
@inject NavigationManager NavigationManager

    <h1>Add new exercise</h1>

 
        <body>
        <center>
             <div class=" shape">
        <EditForm Model="newExercise" OnSubmit="Submit" FormName="AddExercise" class="form">
            <div class="transparent-form">
                    <label class="lbl">
                    Exercise Name:
                    <InputText @bind-Value="newExercise!.Ex_Name" class="form-control" />
                </label>
            </div>

            <div><button type="submit" class="btn-add">Add Exercise</button></div>
        </EditForm>
        </div>
    </center>
    </body>









    @code
    {

        [SupplyParameterFromForm]
        public Exercises newExercise { get; set; }
        protected override void OnInitialized() => newExercise ??= new();
        private async Task Submit()
        {
            if (newExercise != null)
            {
                await exRepository.AddAsync(newExercise);

                NavigationManager.NavigateTo("/exercicespage");
            }
        }
    }


