@page "/adduser"
@using Data_Base_Access
@using Data_Base_Access.Entities
@using Data_Base_Access.Repositories.NewFolder.IGenericRepository
@using Data_Base_Access.Repositories.UserRepository
@using Data_Base_Access.Repositories.UsersRepository
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@attribute [StreamRendering]
@inject IGenericRepository<Users> userRepository
@inject NavigationManager NavigationManager


<h1>Create new client   </h1>
<body>
    <center>
<EditForm Model="newUser" OnSubmit="Submit" FormName="AddUser" class="form">
    <div class="transparent-form">
        <label>
           Name:    
          <InputText @bind-Value="newUser!.Name" class="form-control" />
        </label>
    </div>
    <div class="transparent-form">
        <label>
            Surname:
            <InputText @bind-Value="newUser!.Surname" class="form-control" />
        </label>
    </div>
    <div class="transparent-form">
        <label>
            Email:
            <InputText @bind-Value="newUser!.Email" class="form-control" />
        </label>
    </div>
    <div class="transparent-form">
        <label>
            Phone number:
            <InputText @bind-Value="newUser!.Phone" class="form-control" />
        </label>
    </div>
    <div class="transparent-form">
        <label>
            Weight:
            <InputNumber @bind-Value="newUser!.Weight" class="form-control" />
        </label>
    </div>
    <div class="transparent-form"   >
        <label>
            Age:
            <InputNumber @bind-Value="newUser!.Age" class="form-control" />
        </label>
    </div>
    <div><button type="submit" class="btn-add">Add User</button></div>
</EditForm>
</center>
</body>





@code 
{
    
    [SupplyParameterFromForm]
    public Users newUser { get; set; }
    protected override void OnInitialized() => newUser ??= new();
    private async Task Submit()
    {
        if (newUser != null)    
        {
         await userRepository.AddAsync(newUser);
          
          NavigationManager.NavigateTo("/");
        }
    }
}
    

