@page "/max"


<!--<button class="btn btn-primary" @onclick="MaxTemperature">Show Max Temperature</button>
<p role="status">Max Temperature: @maxTemperatureC</p>
-->

@code {
   /* public int minTemperatureC = 0;
     public int maxTemperatureC = 0;

     private void MaxTemperature( WeatherForecast[] forecasts)
         {
         maxTemperatureC = forecasts[0].TemperatureC;
         for (int i = 0; i < forecasts.Length; i++)
             {
             if (forecasts[i].TemperatureC > maxTemperatureC)
                 {
                 maxTemperatureC = forecasts[i].TemperatureC;
         }

     }
         }
    */

}
